@import 'core/settings';
@import 'layout/header';

body {
  margin: 0;
  background-image: linear-gradient(to right, $color-red,$color-redLight);
}
 .page__main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  font: 400 $fontText;
  color: $color-white;
}
.page__main-form{
  display: flex;
  align-items: center;
}
.input{
  margin: 12px;
}
.btn{
  width: 100px;
  padding: 4px;
  margin-left: 12px;
  cursor: pointer;
  font: 400 $fontText;
  color: $color-white;
  text-transform: uppercase;
  font-size: 12px;
  background-color: transparent;
  border: solid 1px $color-white;
	border-radius: 12px;
}
.page__main-results {
  padding: 0px;
  display: flex;
  justify-content: center;
}
.cards{
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.cards__list{
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 10px;
}
.hidden{
  display: none;
}
.cards__image-adalab{
  border-radius: 4px;
}
.cards__image-pokemon{
  width: 160px;
  height: 195px;
  background-color: white;
  border-radius: 4px;
}
